.post-links {
  padding: 20px;
}

.post-link {
  color: #3399ff;
  font-size: 1.6em;
  line-height: 2;
  text-decoration: none;
}

.post-link:hover {
  color: #ff2a55;
}

.post-link-title {
  border-bottom: 1px solid #3399ff;
}

.post-link .post-link-date {
  font-size: 0.8em;
  color: #eee;
  cursor: default;
  margin-left: 2em;
  text-decoration: none;
}

.post-link:hover .post-link-date {
  color: #aaa;
}
