.post {
	padding: 20px;
	margin: auto;
	max-width: 1000px;
	background: white;
}

.post-footer {
	max-width: 1000px;
	margin: auto;
	padding: 20px;
}

.post-date {
	font-size: .9em;
	color: #888;
}

.post-title-link {
	text-decoration: none;
	color: #222;
}
